@model IEnumerable<Hospital_Management_Database.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<h1>Presciption</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptionname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionLab)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prescriptionname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionLab)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
